.title {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;

  padding: 0.6rem 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  border-top: black 1px solid;
  border-bottom: black 1px solid;

  span {
    opacity: var(--horizontal-title-active, 0);
    transform: translateX(
      calc(var(--horizontal-title-active, -1) * -1rem + 1rem)
    );

    display: inline-block;
    transition:
      transform 0.5s cubic-bezier(0.77, 0, 0.175, 1),
      opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.active {
  --horizontal-title-active: 1;
}

@media (max-width: 1180px) {
  .title {
    padding-left: 1rem !important;
    font-size: 1.8rem;
  }
}
