.friends {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  text-align: right;
}

@media (max-width: 768px) {
  .friends {
    gap: 1.5rem;
  }

  .description {
    text-align: center;
  }
}
