.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(5.011rem - 1px);
    height: 100%;
    border-right: black 1px solid;
}

@media (max-width: 1180px) {
    .wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
    }
}