.icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    padding: 0.4rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: filter 0.3s;

    span {
        margin-bottom: 0.2rem;
    }
}

.icon:hover {
    filter: brightness(0.9);
}