.friend {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 10rem;

    a {
        text-decoration: none;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            transition: scale 0.2s ease;
        }
    }

    a:hover {
        img {
            scale: 1.03;
        }
    }

    p {
        text-align: center;
        word-break: auto-phrase;
    }
}

@media (max-width: 1180px) {
    .friend {
        max-width: 7rem;
    }
}

@media (max-width: 768px) {
    .friend {
        max-width: 5rem;
    }
}